<h1>Ce que nous faisons</h1><br>
<h6>Ce que nous proposons</h6>
<div class="card border-0">
    <div class="row g-0">
        <div class="s1 col-md-7">
            <div class="card-body">
                <h2 class="card-title">fonctionnement de centre électrique</h2>
                <p class="card-text">
                    Proposer une Fonctionnement de centrale électrique est
                    essentiel
                    pour maintenir la sécurité de la plupart des projets que
                    nous menons
                    chez INFOENERGY. Qu'il s'agisse d'un projet de
                    Électrique ou de
                    Environnemental, Fonctionnement de centrale électrique
                    est
                    nécessaire afin de s'assurer que nous les projets menés
                    par notre
                    Entreprise d'ingénierie soient sûrs, stables et bâtis
                    pour durer.
                </p>
            </div>

        </div>
        <div class="image col-md-5">
            <img src="assets/images/img3.jpg" class="img-fluid" />
        </div>
    </div>
</div>
<br />

<div class="card border-0">
    <div class="row g-0">
        <div class="s2 col-md-7">
            <div class="card-body">
                <h2 class="card-title">conception de systèmes électriques</h2>
                <p class="card-text">
                    Les grands projets d'ingénierie nécessitent souvent
                    un(e) Conception
                    de systèmes électriques. Dans le cadre de notre
                    engagement pour une
                    ingénierie socialement responsable, nous proposons ce
                    service à tous
                    les clients qui en ont besoin. Notre équipe est flexible
                    est prend
                    en compte toutes les considérations environnementales
                    nécessaires.
                </p>
            </div>
        </div>
        <div class="image col-md-5">
            <img src="assets/images/img4.jpg" class="img-fluid" />
        </div>
    </div>
</div>

<br /><br />

<div class="card border-0">
    <div class="row g-0">
        <div class="s3 col-md-7">
            <div class="card-body">
                <h2 class="card-title">test de systèmes électriques</h2>
                <p class="card-text">
                    INFOENERGY dispose d'une équipe d'ingénieurs experts
                    dotés des
                    compétences requises pour relever les défis de tous les
                    secteurs. À
                    travers le(la) Test de systèmes électriques, nous
                    exploitons nos
                    connaissances pour réduire les risques. Nous sommes
                    constamment à la
                    recherche de nouvelles avancées et technologies pour
                    trouver les
                    solutions les plus intelligentes et optimales.
                </p>
            </div>
        </div>
        <div class="image col-md-5">
            <img src="assets/images/img5.jpg" class="img-fluid" />
        </div>
    </div>
</div>
