<div class="container-fluid" id="offres">
    <div class="nom_bloc text-center">
        <h1>Offres disponibles</h1>
        <h6>Types de Contrat: CDI</h6>
        <h6>Localisation : Bizerte/Tunis/France</h6>
        <h6>Rémunération : Selon profil</h6>
    </div>
    <div class="card border-0">
        <div class="row g-0">
            <div class="description_offre col-md-7">
                <div class="card-body text-center">
                    <h3 class="card-title">Ingénieurs C# Web</h3>
                    <h5 class="card-text">Réf email : [POWERITECH.C#]</h5>
                    <br />
                    <p class="card-text">
                        Nous recherchons des ingénieurs d’étude C# qui
                        interviendront plus
                        particulièrement sur des problématiques de:

                        <li>Analyse du besoin fonctionnel.</li>
                        <li>
                            Conception technique (spécifications
                            techniques,architectures,
                            modèles de données).
                        </li>

                        <li>Réalisation des développements</li>
                        Vous maîtrisez les technologies suivantes :
                        <li>C#, Asp.net MVC, Web service, web api</li>
                        <li>SQL, PL/SQL</li>
                        <li>Jquery, Bootstrap</li>

                        <br />

                        Expérience requise : 3 ans minimum en développement C#
                        web.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img
                    src="assets/images/IT/Offre_img1.png"
                    class="img-fluid"
                    alt="image description offre1"
                    />
            </div>
        </div>
    </div>
    <br />

    <div class="card border-0">
        <div class="row g-0">
            <div class="col-md-5">
                <img
                    src="assets/images/IT/Offre_img1.png"
                    class="img-fluid"
                    alt="image description offre1"
                    />
            </div>
            <div class="description_offre col-md-7">
                <div class="card-body text-center">
                    <h3 class="card-title">Ingénieurs JAVA</h3>
                    <h5 class="card-text">Réf email : [POWERITECH.JAVA]</h5>
                    <br />
                    <p class="card-text">
                        Nous recherchons des ingénieurs d’étude Java qui
                        interviendront
                        plus. particulièrement sur des problématiques de:

                        <li>Analyse du besoin fonctionnel.</li>
                        <li>
                            Conception technique (spécifications
                            techniques,architectures,
                            modèles de données).
                        </li>

                        <li>Réalisation des développements.</li>
                        <li>Réalisation des tests unitaires et de non
                            régression.</li>
                        <li>
                            Déploiement des applications et maintenance en
                            opérations
                            conditionnelles MCO.
                        </li>
                        Vous maîtrisez les technologies suivantes :

                        <li>JAVA, SHELL (Unix)</li>
                        <li>J2EE, javascrit, CSS,</li>
                        <li>XML, JSP, XSL, XSD, SOAP, WSDL</li>
                        <li>Web service</li>
                        <li>SQL et PL/SQL</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card border-0">
        <div class="row g-0">
            <div class="description_offre col-md-7">
                <div class="card-body text-center">
                    <h3 class="card-title">Ingénieurs PHP</h3>
                    <h5 class="card-text">Réf email : [POWERITECH.PHP]</h5>
                    <br />
                    <p class="card-text">
                        vous rejoignez notre dream team du centre de service.
                        <li>Vous orchestrez très bien les composants et bundle.</li>
                        <li>Vous aimez les Doctrine.</li>
                        <li>MySQL est votre moteur.</li>
                        <li>
                            HTML5 c'est bien mais avec un CSS3 bien écrit.
                            Bootstrap est votre
                            ami.
                        </li>

                        <li>
                            Apache n'a rien à voir avec les indiens mais vous
                            maitrisez la
                            lecture de son log, vous pouvez préférer NGinx.
                        </li>

                        <li>Vous aimez les frameworks javascript.</li>
                        <li>
                            Vous aimez votre GIT mais êtes précautionneux pour
                            éviter la
                            casse.
                        </li>
                        <li>
                            Vous regardez les fenêtres 8.1 et 10 de loin car
                            vous adorez
                            Debian.
                        </li>
                        <li>La Rache est un endroit par lequel vous ne passez
                            jamais.</li>
                        Les compétences :

                        <li>PHP5 POO version 5.4+</li>
                        <li>Symfony 2</li>
                        <li>HTML5, CSS3, Javascript, JQuery, AngularJS</li>
                        <li>MySQL</li>
                        <li>Redis, RabbitMQ</li>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img
                    src="assets/images/IT/Offre_img1.png"
                    class="img-fluid"
                    alt="image description offre1"
                    />
            </div>
        </div>
    </div>
    <br />
    <div class="card border-0">
        <div class="row g-0">
            <div class="col-md-5">
                <img
                    src="assets/images/IT/Offre_img2.png"
                    class="img-fluid"
                    alt="image description offre1"
                    />
            </div>
            <div class="description_offre col-md-7">
                <div class="card-body text-center">
                    <h3 class="card-title">Ingénieurs Android/IOS</h3>
                    <h5 class="card-text">Réf email : [POWERITECH.MOBILE]</h5>
                    <br />
                    <p class="card-text">
                        Vous justifiez d’une expérience dans la conception et le
                        développement en environnement mobile – Android ou IOS,
                        plus
                        précisément :
                        <li>
                            Vous connaissez les technologies mobiles,
                            particulièrement sous
                            android et/ou IOS.
                        </li>
                        <li>Vous maitrisez le développement en langage Java. .</li>
                        <li>Vous êtes motivé par les nouveautés technologiques.</li>
                        <li>
                            Vous avez un bon esprit d’équipe, vous êtes
                            adaptable et autonome.
                        </li>
                        Au sein d'une équipe multiculturelle, vous serez en
                        charge de la
                        création, de la conception, de la réalisation et de
                        l'intégration
                        d'applications mobiles. Compétences requises:

                        <li>Framework Android/IOS, SQL</li>

                        <li>Technologies Web</li>

                        <br />

                        Expérience requise : 3 ans
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card border-0">
        <div class="row g-0">
            <div class="description_offre col-md-7">
                <div class="card-body text-center">
                    <h3 class="card-title">Ingénieurs BI</h3>
                    <h5 class="card-text">Réf email : [POWERITECH.BI]</h5>
                    <br />
                    <p class="card-text">
                        Nous recherchons des consultants décisionnel qui
                        participeront plus
                        particulièrement à :
                        <li>Vous orchestrez très bien les composants et bundle.</li>
                        <li>La modélisation d’un Datawarehouse.</li>
                        <li>
                            la réalisation, maintenance et les tests en
                            autonomie des
                            développements de couche sémantique ou reporting.
                        </li>

                        <li>l'administration d'une plateforme de diffusion.</li>
                        <li>l'optimisation des traitements et packages.</li>
                        <li>la construction et alimentation des DATA MARTS.</li>
                        <li>
                            Vous regardez les fenêtres 8.1 et 10 de loin car
                            vous adorez
                            Debian.
                        </li>
                        Profil :
                        <li>Une formation managériale est un plus.</li>

                        <li>Connaissances ou expériences.</li>
                        <li>
                            Vous possédez une première expérience significative
                            sur la
                            Business Intelligence où vous êtes intervenu de
                            manière
                            opérationnelle sur tout ou partie du cycle « projet
                            » décisionnel.
                        </li>

                        <li>
                            Vous y avez développé des compétences décisionnelles
                            (alimentation, modélisation, restitution) sur la
                            solution du
                            marché (Microsoft Business Intelligence). Une autre
                            technologie
                            est un plus.
                        </li>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img
                    src="assets/images/IT/Offre_img2.png"
                    class="img-fluid"
                    alt="image description offre1"
                    />
            </div>
        </div>
    </div>
</div>
