h1 {
  font-size: 70px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

h6 {
  font-weight: normal;
  font-size: 20px;
  line-height: 2em;
  color: black;
}
.presentation {
  background-color: rgb(220, 227, 245);
}

.card-body {
  padding-top: 8%;

  position: relative;
}

p {
  font-weight: normal;
  line-height: 2em;
  font-size: 15px;
  color: black;
  padding-left: 20%;
  padding-right: 20%;
}
h2 {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: 800;
  font-size: 40px;
}

.img-fluid {
  height: 100%;
}
.savoir_plus {
  height: 600px;
  width: 100%;
}
.card{
  scroll-margin-top: 100px;

}
@media only screen and (max-width: 768px) {
  p {
    padding-right: 0;
    padding-left: 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .savoir_plus {
    height: auto;
  }
  .card{
    scroll-margin-top: 400px;


  }
}
