<h1>À props de nos partenaires</h1>
<h6>Clients</h6>
<p>
    Chez INFOENERGY, nous travaillons étroitement avec nos clients et nos
    partenaires afin d'obtenir les meilleurs résultats dans chacun de nos
    projets
    d'ingénierie. En combinant nos forces, nous apportons une valeur ajoutée en
    travaillant plus vite, plus efficacement et en apportant de meilleures
    compétences et savoirs-faire.
</p>
<div class="card border-0 ">
    <img src="assets/images/IT/LogoClient1.png" class="card-img-top "
        alt="imgage
        logo premier client " />
    <div class="card-body">
        <h3 class="card-title">HEXA</h3>
        <h6>Des partenariats qui durent</h6>

        <p class="card-text">
            Dans la réalisation du projet Station de métro de l'avenue de la
            Liberté
            nous collaborons avec Hexa. La synergie créée en unissant nos forces
            a été
            une vraie source d'inspiration et nous nous réjouissons à l'idée de
            collaborer à nouveau avec eux à l'avenir.
        </p>
    </div>
</div>
<div class="card border-0">
    <img src="assets/images/IT/LogoClient2.png" class="card-img-top" alt="image
        deuxieme client" />
    <div class="card-body">
        <h3 class="card-title">TARGO</h3>
        <h6>Des services incomparables</h6>

        <p class="card-text">
            Nous avons collaboré avec Targo sur un projet en plusieurs étapes.
            Mener
            ce projet à bien a été passionnant, à chaque étape. Les deux parties
            ont
            atteint tous leurs objectifs.
        </p>
    </div>
</div>
<div class="card border-0">
    <img src="assets/images/IT/LogoClient3.png" class="card-img-top" alt="image
        troisieme client" />
    <div class="card-body">
        <h3 class="card-title">HERA</h3>
        <h6>Impliquer notre entreprise</h6>

        <p class="card-text">
            Nous avons travaillé sur ce projet pendant de longs mois, et le
            résultat
            final a dépassé nos attentes. Hera est un client qui nous est cher
            et nous
            avons hâte d'attaquer la phase 2 de son projet.
        </p>
    </div>
</div>
