<div class="container" id="references">
    <div class="nom_bloc text-center">
        <h1>Nos Références</h1>
    </div>
    <div class="row ">
        <div class="col-md-3">
            <div class="card border-0">
                <img class="card-img-top"
                    src="assets/images/IT/Logo_AlteisHorizon.png" alt="logo
                    référence 1">
                <div class="card-body">
                    <h5 class="card-title ">Alteis Horizon</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <img class="card-img-top"
                    src="assets/images/IT/Logo_Infotel.png" alt="logo référence
                    2">
                <div class="card-body">
                    <h5 class="card-title">Infotel</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <img class="card-img-top" src="assets/images/IT/Logo_Natan.png"
                    alt="logo référence 3">
                <div class="card-body">
                    <h5 class="card-title ">Natan</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <img class="card-img-top"
                    src="assets/images/IT/Logo_PointRD.png" alt="logo référence
                    4">
                <div class="card-body">
                    <h5 class="card-title">PointRD</h5>
                </div>
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0">
                <img class="card-img-top"
                    src="assets/images/IT/Logo_Parteck.png" alt="logo référence
                    5">
                <div class="card-body">
                    <h5 class="card-title">Parteck</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <img class="card-img-top"
                    src="assets/images/IT/Logo_Poste.png" alt="logo référence
                    6">
                <div class="card-body">
                    <h5 class="card-title">La POSTE</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <img class="card-img-top"
                    src="assets/images/IT/Logo_Numberly.png" alt="logo référence
                    7">
                <div class="card-body">
                    <h5 class="card-title">ASP Conseil</h5>
                </div>
            </div>
        </div>
    </div>
</div>