<div class="card border-0" id="contact">
    <div class="row g-0">
        <div class="contact col-md-6">
            <div class="card-body">
                <h1 class="card-title">Nous contacter
                </h1>
                <div class="information_contact">
                    <span class="adresse">500 Terry Francois Street, 6th Floor.
                        San
                        Francisco, CA
                        94158

                    </span><br><br>
                    <span class="email">info@mysite.com

                    </span><br><br>
                    <span class="tel">123-456-7890

                    </span>
                </div>
            </div>
        </div>
        <div class="image col-md-6">
            <img src="assets/images/img2.jpg" class="img-fluid" />
        </div>
    </div>

</div>
<div class="row g-0 ">
    <div class="card border-0 map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6307.607269117388!2d-122.38925879833653!3d37.77119922822246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7fc4fe5e0af3%3A0x11c548b59491f791!2s500%20Terry%20A%20Francois%20Blvd%206th%20floor%2C%20San%20Francisco%2C%20CA%2094158%2C%20%C3%89tats-Unis!5e0!3m2!1sfr!2stn!4v1666279957211!5m2!1sfr!2stn"
            allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
