 <section class="container-fluid">
    <div class="card border-0" id="contact">
        <div class="row g-0">
            <div class=" contact col-md-6">
                <div class="card-body">
                    <h1 class="card-title text-center">Contact
                    </h1>
                    <div class="information_contact text-center">
                        <span class="adresse">14 Square Jean Monnet, 78140
                            Vélizy-Villacoublay, France

                        </span><br><br>
                        <span class="email">info@mysite.com

                        </span><br><br>
                        <span class="tel">123-456-7890

                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/Standard/Contact.jpg" class="img-fluid"
                    alt="image
                    contact"
                    />
            </div>
        </div>

    </div>
    <div class="row g-0 ">
        <div class="card border-0 map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.002977247112!2d2.2041498159010353!3d48.781833414047725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67bde58b68279%3A0x5d39d8788dfede28!2s14%20Square%20Jean%20Monnet%2C%2078140%20V%C3%A9lizy-Villacoublay%2C%20France!5e0!3m2!1sfr!2stn!4v1666799217594!5m2!1sfr!2stn"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>