span {
  text-transform: uppercase;
  font-family: "Times New Roman", Times;
  font-size: 30px;
  color: black;
  font-weight: 800;
}
img {
  margin: 7px;
  height: 27px;
  width: 27px;
}

a,
a:hover,
a:visited {
  color: black;
  cursor: pointer;
  font-weight: lighter;
  line-height: 30px;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: rgb(245, 245, 245);
}
.dropdown-menu {
  width: 100%;
  border: 0.5px solid rgb(229, 229, 229);
  border-radius: 4px;
}

.navbar-nav {
  list-style-type: none;
}
.dropdown-item:focus {
  background-color: white;
}
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-nav {
  outline: none ;
  box-shadow: none ;
  border: 0 ;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: black;
  display: block;
  transition: all 0.4s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-default {
  background-color:white;
}
@media only screen and (max-width: 768px) {
  
 

}
*{
  scroll-margin-top: 100px;

}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 25px;
  }


}
