
<nav class="navbar navbar-expand-lg sticky-top ">
  <span class="navbar-brand "> infoenergy</span>
  <div class="toggle">

    <button class="navbar-toggler collapsed "
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>

    </button>
  </div>
  <div class="collapse navbar-collapse "
    id="navbarSupportedContent">
    <ul class="navbar-nav w-100 justify-content-end "
      aria-labelledby="navbarSupportedContent">

      <li
        class="nav-item">
        <a class="nav-link" routerLink="" data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show">
          <img
            src="assets/images/Accueil_menu.png" width="28px" height="28px">
          Accueil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="navigateToPresentation()"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
          <img
            src="assets/images/QuiSommesNous_menu.png" width="28px"
            height="28px"> Qui
          Somme Nous ? </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="navigateToContact()"
          data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"> <img
            src="assets/images/Contact_menu.png" width="28px" height="28px">Contact
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false"> <img
            src="assets/images/ServicesIT.png" width="28px" height="28px">Solutions
          & Services
          IT</a>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" routerLink=""><img
                src="assets/images/Presentation_menu.png" width="25px"
                height="25px"> PRÉSENTATION</a></li>
          <li><a class="dropdown-item" routerLink=""> <img
                src="assets/images/Offres_menu.png" width="25px"
                height="25px">OFFRES</a></li>
          <li><a class="dropdown-item" routerLink=""> <img
                src="assets/images/References_menu.png" width="25px"
                height="25px">RÉFÉRENCES</a></li>
          <li><a class="dropdown-item" routerLink=""><img
                src="assets/images/Valeurs_menu.png" width="25px"
                height="25px">VALEURS</a></li>
          <li><a class="dropdown-item" routerLink=""><img
                src="assets/images/Contact_menu.png" width="25px"
                height="25px">CONTACT</a></li>

        </div>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false"> <img
            src="assets/images/ServicesEnergetique_menu.png" width="28px"
            height="28px">Solutions
          & Services
          énergetique</a>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" routerLink=""> <img
                src="assets/images/DPE_menu.png" width="28px" height="28px">DPE</a></li>
          <li><a class="dropdown-item" routerLink=""> <img
                src="assets/images/AUDIT_menu.png" width="28px" height="28px">AUDIT</a></li>
          <li><a class="dropdown-item" routerLink=""><img
                class="image_menu"
                src="assets/images/SUIVI_menu.png" width="28px"
                height="28px"> SUIVI</a></li>
          <li><a class="dropdown-item" routerLink=""><img
                src="assets/images/SOLUTIONS_menu.png" width="28px"
                height="28px">SOLUTIONS</a></li>
          <li><a class="dropdown-item" routerLink=""> <img
                src="assets/images/MAPRIMRENOV_menu.png" width="28px"
                height="28px">MAPRIMRENOV</a></li>
        </div>
      </li>


    </ul>
  </div>
