 <div class="container-fluid">
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class=" presentation col-md-7">
                <div class="card-body">
                    <h1> bienvenue <br> chez <br> infoenergy
                    </h1><br>
                    <h6> L'innovation, notre seconde nature</h6>
                    <br>
                    <p class="propos">
                        <span>
                            Nous sommes une équipe d'ingénieurs professionnels
                            qui
                            mettent tout en oeuvre pour améliorer le
                            fonctionnement
                            de nos collectivités. Chez INFOENERGY, nous avons
                            conscience que chacune de nos décision aura de
                            grosses
                            répercutions sur l'environnement. C'est pourquoi
                            nous
                            nous efforçons de nous assurer que notre travail
                            soit le
                            reflet de nos normes exigeantes. Notre entreprise
                            est
                            active depuis 2000.
                        </span>
                    </p>
                </div>
            </div>
            <div class="image col-md-5 ">
                <img src="../../assets/images/img1.jpg" class="img-fluid
                    ">
            </div>
        </div>
    </div>
</div>