 <div class="card border-0">
    <div class="row g-0">
        <div class="presentation col-md-7">
            <div class="card-body">
                <h1 class="card-title">
                    <span> bienvenue chez infoenergy</span>
                </h1>
                <h6 class="card-text">

                    L'innovation, notre seconde nature
                </h6>

                <p class="card-text">
                    Nous sommes une équipe d'ingénieurs professionnels qui
                    mettent tout
                    en oeuvre pour améliorer le fonctionnement de nos
                    collectivités.
                    Chez INFOENERGY, nous avons conscience que chacune de
                    nos décision
                    aura de grosses répercutions sur l'environnement. C'est
                    pourquoi
                    nous nous efforçons de nous assurer que notre travail
                    soit le reflet
                    de nos normes exigeantes. Notre entreprise est active
                    depuis 2000.
                </p>
            </div>
        </div>
        <div class="image col-md-5 ">
            <img src="../../assets/images/img1.jpg" class="img-fluid" />
        </div>
    </div>
</div>
<br />
<div class="card border-0 ">
    <img src="../../assets/images/img2.jpg" class="img-overlay " />
    <div class="card-img-overlay text-center">
        <div class="card-body">
            <h2 class="card-title">En savoir plus</h2>
            <h6 class="card-text">
                Développer notre
                ville

            </h6>
            <p class="card-text">
                Depuis 2000, INFOENERGY est la pierre angulaire de la ville,
                impliquée
                tant dans l'innovation que dans le développement. Nous
                sommes fiers de
                montrer la voie vers un avenir meilleur à l'aide d'idées
                novatrices,
                des technologies révolutionnaires et dans la transparence.
                Nous avons
                travaillé sur des dizaines de projets visant à fournir des
                solutions
                techniques innovantes.
            </p>
        </div>
    </div>
</div>
